.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Major Mono Display", monospace;
  background-image: url(./img/header-img.jpg);
  background-size: cover;
}

.App {
  text-align: center;
  background-color: #02030f;
  color: white;
  font-family: "Space Mono", monospace;
  padding: 20px;
}

img {
  max-height: 500px;
  border: 3px solid white;
}

h1 {
  border: 3px solid white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.329);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #02030f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: white;
}

button {
  border: none;
  background-color: #02030f;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Space Mono", monospace;
  margin: 0 auto;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}
